# SPDX-FileCopyrightText: 2019 Adrian Freihofer <adrian.freihofer@siemens.com>
#
# SPDX-License-Identifier: CC0-1.0

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[CMakeLists.txt]
indent_size = 2
indent_style = space

[*.{c,h}]
indent_brace_style = K&R
insert_final_newline = true
indent_style = tab
indent_size = tab
tab_width = 8

[*.cfg]
indent_style = tab
indent_size = 8
