# SPDX-FileCopyrightText: 2021 Blueye Robotics AS
#
# SPDX-License-Identifier: GPL-2.0-only

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
requests = "*"
termcolor = "~=2.2.0"
