# SPDX-FileCopyrightText: 2021 Stefano Babic <sbabic@denx.de>
# SPDX-License-Identifier: CC0-1.0
CONFIG_SYSTEMD=y
CONFIG_HW_COMPATIBILITY=y
CONFIG_HW_COMPATIBILITY_FILE="tests/etc/hwrevision"
CONFIG_SW_VERSIONS_FILE="tests/etc/sw-versions"
# CONFIG_MTD is not set
CONFIG_LUAPKG="lua5.2"
CONFIG_EXTRA_CFLAGS="-g"
CONFIG_BOOTLOADER_GRUB=y
CONFIG_DOWNLOAD=y
CONFIG_HASH_VERIFY=y
CONFIG_ENCRYPTED_IMAGES=y
CONFIG_WEBSERVER=y
CONFIG_MONGOOSESSL=y
CONFIG_LUAEXTERNAL=y
CONFIG_RAW=y
CONFIG_LUASCRIPTHANDLER=y
CONFIG_SHELLSCRIPTHANDLER=y
CONFIG_HANDLER_IN_LUA=y
CONFIG_ARCHIVE=y
CONFIG_REMOTE_HANDLER=y
CONFIG_SWUFORWARDER_HANDLER=y
CONFIG_BOOTLOADERHANDLER=y
