CONFIG_SYSTEMD=y
CONFIG_HW_COMPATIBILITY=y
CONFIG_LUAPKG="lua5.2"
CONFIG_EXTRA_CFLAGS="-g"
CONFIG_BOOTLOADER_GRUB=y
CONFIG_DOWNLOAD=y
CONFIG_DOWNLOAD_SSL=y
CONFIG_SIGNED_IMAGES=y
CONFIG_ENCRYPTED_IMAGES=y
CONFIG_SURICATTA=y
CONFIG_SURICATTA_SSL=y
CONFIG_WEBSERVER=y
CONFIG_MONGOOSESSL=y
CONFIG_UBIVOL=y
CONFIG_CFI=y
CONFIG_CFIHAMMING1=y
CONFIG_RAW=y
CONFIG_LUASCRIPTHANDLER=y
CONFIG_SHELLSCRIPTHANDLER=y
CONFIG_HANDLER_IN_LUA=y
CONFIG_ARCHIVE=y
CONFIG_REMOTE_HANDLER=y
CONFIG_BOOTLOADERHANDLER=y
