# SPDX-FileCopyrightText: 2021 Stefano Babic <stefano.babic@swupdate.org>
# SPDX-License-Identifier: CC0-1.0
CONFIG_HW_COMPATIBILITY=y
# CONFIG_MTD is not set
CONFIG_LUAPKG="lua5.2"
CONFIG_EXTRA_CFLAGS="-g"
CONFIG_DOWNLOAD=y
CONFIG_SURICATTA=y
CONFIG_WEBSERVER=y
CONFIG_MONGOOSESSL=y
CONFIG_HASH_VERIFY=y
CONFIG_ENCRYPTED_IMAGES=y
CONFIG_LUAEXTERNAL=y
CONFIG_ARCHIVE=y
CONFIG_BOOTLOADERHANDLER=y
CONFIG_LUASCRIPTHANDLER=y
CONFIG_RAW=y
CONFIG_REMOTE_HANDLER=y
CONFIG_SHELLSCRIPTHANDLER=y
