# SPDX-FileCopyrightText: 2025 Provizio <support@provizio.ai>
#
# SPDX-License-Identifier: GPL-2.0-only
#
# SWUpdate Settings with Encryption Support
#

#
# General Configuration
#
# CONFIG_SYSTEMD is not set
CONFIG_DEFAULT_CONFIG_FILE="/etc/swupdate.cfg"
# CONFIG_SCRIPTS is not set
# CONFIG_HW_COMPATIBILITY is not set
CONFIG_SW_VERSIONS_FILE="/etc/sw-versions"

#
# Socket Paths
#
CONFIG_SOCKET_CTRL_PATH=""
CONFIG_SOCKET_PROGRESS_PATH=""
# end of Socket Paths

# CONFIG_MTD is not set
# CONFIG_LUA is not set
# end of General Configuration

#
# Build Options
#
CONFIG_CROSS_COMPILE=""
CONFIG_SYSROOT=""
CONFIG_EXTRA_CFLAGS=""
CONFIG_EXTRA_LDFLAGS=""
CONFIG_EXTRA_LDLIBS=""
# end of Build Options

#
# Debugging Options
#
# CONFIG_DEBUG is not set
# CONFIG_WERROR is not set
# CONFIG_NOCLEANUP is not set
# end of Debugging Options
# end of SWUpdate Settings

#
# Bootloader support
#

#
# Bootloader Interfaces
#
CONFIG_BOOTLOADER_NONE=y
# CONFIG_UBOOT is not set
# CONFIG_BOOTLOADER_EBG is not set
# CONFIG_BOOTLOADER_GRUB is not set
# CONFIG_BOOTLOADER_CBOOT is not set
# end of Bootloader Interfaces

# CONFIG_BOOTLOADER_STATIC_LINKED is not set

#
# Interfaces
#
# CONFIG_DOWNLOAD is not set
# CONFIG_SURICATTA is not set
CONFIG_WEBSERVER=y
CONFIG_MONGOOSE=y
CONFIG_MONGOOSEIPV6=y
# CONFIG_MONGOOSESSL is not set

#
# Security
#

#
# Crypto libraries
#
CONFIG_SSL_IMPL_OPENSSL=y
# CONFIG_SSL_IMPL_WOLFSSL is not set
# CONFIG_SSL_IMPL_MBEDTLS is not set
# CONFIG_SSL_IMPL_GPGME is not set
# end of Crypto libraries

CONFIG_HASH_VERIFY=y
CONFIG_SIGNED_IMAGES=y

#
# Signature verification algorithm
#
# CONFIG_SIGALG_RAWRSA is not set
# CONFIG_SIGALG_RSAPSS is not set
CONFIG_SIGALG_CMS=y
# end of Signature verification algorithm

#
# CMS / PKCS#7 signature verification options
#
# CONFIG_CMS_IGNORE_EXPIRED_CERTIFICATE is not set
# CONFIG_CMS_IGNORE_CERTIFICATE_PURPOSE is not set
# CONFIG_CMS_SKIP_UNKNOWN_SIGNERS is not set
# end of CMS / PKCS#7 signature verification options

#
# Encryption
#
CONFIG_ENCRYPTED=y
CONFIG_ENCRYPTED_IMAGES=y
CONFIG_ENCRYPTED_SW_DESCRIPTION=y
# CONFIG_PKCS11 is not set
# end of Encryption

#
# Compressors (zlib always on)
#
CONFIG_GUNZIP=y
# CONFIG_XZ is not set
# CONFIG_ZSTD is not set

#
# Parsers
#

#
# Parser Features
#
CONFIG_LIBCONFIG=y
CONFIG_PARSERROOT=""
# CONFIG_SETSWDESCRIPTION is not set
# end of Parser Features

#
# Handlers
#

#
# Image Handlers
#
CONFIG_ARCHIVE=y
CONFIG_LOCALE=y
# CONFIG_BOOTLOADERHANDLER is not set
# CONFIG_COPY is not set
# CONFIG_DELTA is not set
# CONFIG_DISKPART is not set
# CONFIG_DISKFORMAT_HANDLER is not set
# CONFIG_EMMC_HANDLER is not set
CONFIG_RAW=y
# CONFIG_RDIFFHANDLER is not set
# CONFIG_READBACKHANDLER is not set
# CONFIG_REMOTE_HANDLER is not set
CONFIG_SHELLSCRIPTHANDLER=y
# CONFIG_SWUFORWARDER_HANDLER is not set
# CONFIG_UCFWHANDLER is not set
# CONFIG_UNIQUEUUID is not set
# end of Image Handlers

#
# Containers
#
# CONFIG_DOCKER is not set
# end of Update containers

# CONFIG_SWUPDATE_VARS is not set
# CONFIG_HAVE_LIBUBOOTENV is not set
